/** Body Overview **/

/** Font Copy & Pastes 
font-family: 'Bebas Neue', cursive;
font-family: 'Merriweather', serif; **/

html, body {
    margin: 0;
    width: 100%
}

* {
    box-sizing: border-box;
}

/** NavBar Styles **/

ul.navbar {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #aef4cb;
    top: 0;
    border-bottom: 1px, solid, #000000;
}

li.navitem {
    float: left;
}

a.navitem {
    display: block;
    color: #37444d;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

a.navitem:hover {
    background-color: #C547DC;
    color: #ffffff;
}

.navlogo {
    height: 70px;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    li.navitem,
    .navlogo {float: none;}
}    

/** Footer Styles **/

.footer {
    width: 100%;
    height: 100px;
    background-color: #696969;
    bottom: 0;
    color: #ffffff;
}

.socials {
    list-style-type: none;
}

/** Home Page **/

header {
    width: 100%;
    height: 400px;
    background-color: #aef4cb;
}
.hero {
    text-align: center;
}

.lachancla-yt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homesec {
    padding: 20px 40px;
}

/** About Page **/



/** Contact Page **/

.contact {
    display: block;
    height: 1000px;
    background-color: #303030;
    margin: 15px;
    padding : 30px;
}

#notify {
    text-align: center;
}

.container {
    color: white;
    background-color: #696969;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #aef4cb;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #C547DC;
    color: #ffffff;
}

input[type=checkbox]:after {
    background-color: #aef4cb;
}

.dopeaf {
    color: #ffffff;
    display: hidden;
}