/** Body Overview **/

/** Font Copy & Pastes 
font-family: 'Bebas Neue', cursive;
font-family: 'Merriweather', serif; **/

body {
    margin: 0;
}

/** NavBar Styles **/

ul.navbar {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #aef4cb;
    top: 0;
    border-bottom: 1px, solid, #000000;
}

li.navitem {
    float: left;
}

a.navitem {
    display: block;
    color: #37444d;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

a.navitem:hover {
    background-color: #C547DC;
    color: #ffffff;
}

.navlogo {
    height: 70px;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    li.navitem,
    .navlogo {float: none;}
}    

/** Footer Styles **/

.footer {
    width: 100%;
    height: 100px;
    background-color: #696969;
    bottom: 0;
    color: #ffffff;
}

.socials {
    list-style-type: none;
}

/** Home Page **/

.hero {
    clear: both;
    width: 100%;
    height: 400px;
    background-color: #aef4cb;
}

.homesec {
    padding: 20px 40px;
}

/** About Page **/



/** Contact Page **/